*.gem
.bundle
.kitchen/
.kitchen.local.yml
vendor/bundle
pkg/*
bin/*
.vagrant
files/**/cache/
resources/**/cache/
vendor/cookbooks
Gemfile.lock

# athena-fluentd specific package
core_gems/*
plugin_gems/*
package-scripts/athena-fluentd/makeselfinst
package-scripts/athena-fluentd/postinst
package-scripts/athena-fluentd/postrm
package-scripts/athena-fluentd/preinst
package-scripts/athena-fluentd/prerm
files/etc/init.d/athena-fluentd
resources/athena-fluentd/etc/init.d/athena-fluentd
